.container {
    @include no-select;
    padding: 10px 0;
    cursor: pointer;
}

.progress {
    height: 4px;
    border-radius: 10rem;
    width: 40rem;
    transition: height 0.2s;
    @include media("<md") {
        width: 35rem;
    }
    background-color: var(--color-grey-1);
}

.progressFilled {
    position: relative;
    height: 100%;
    background-image: linear-gradient(to right, var(--color-primary), var(--color-tertiary));
    width: 0;
    max-width: 100%;
    border-radius: 1rem;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate3d(-50%, -50%, 0);
        width: 10px;
        height: 10px;
        border-radius: 100rem;
        background-color: var(--color-secondary);
        transition: all 0.2s ease-out;

        @include media("<md") {
            width: 12px;
            height: 12px;
        }
    }
}
