.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-white-1);
    border-radius: 10rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--color-white-1);
}

.bg_gradient {
    border: 0px;
    background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-tertiary));
}

.bg_light {
    background-color: var(--color-white-1);
    color: var(--color-dark-1);
}

.uppercase {
    text-transform: uppercase;
}

.invert{
    filter: invert(100%);
}
