.track {
    width: 100%;
    @include no-select;
    transform: translateZ(0);
    cursor: pointer;
}

.descriptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 8px;
    padding: 0 5px;
    transition: all 0.2s;
    color: white;
}

.cover {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 0.2s;
    border-radius: 15px;
    padding-top: 100%;

    &:hover + .descriptions {
        color: var(--color-tertiary) !important;
        transform: scale(1.1);
    }

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        &::after {
            border: 5px solid var(--color-tertiary);
        }
        img {
            transform: scale(0.88);
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: all 0.2s;
        border-radius: 15px;
    }

    &::after {
        content: "";
        border-radius: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        z-index: 10;
    }
}

.name {
    font-size: 1.5rem;
    line-height: 1.3;
}

.release {
    margin-top: 6px;
    font-size: 1.4rem;
}
