.category {
    display: grid;
    align-content: start;
    justify-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2rem;
    padding: 6vw;
    background-color: var(--color-dark-2);

    img {
        width: 100%;
        animation: test 1s;
        cursor: pointer;
    }
}

.title {
    grid-column: 1/-1;
    margin-bottom: 2rem;
    h3 {
        display: inline-block;
        color: var(--color-white-1);
        font-size: 3.5rem;
        margin-left: 1rem;
        padding: 1rem;
        border-bottom: 3px solid var(--color-tertiary);
    }
}

@keyframes test {
    from {
        opacity: 0.4;
        transform: translateY(2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
