.category {
    padding: 6vw;
    min-height: 100vh;
    background-color: var(--color-dark-2);

    @include media("<md") {
        padding-bottom: 18rem;
    }
}

.title {
    margin-bottom: 3rem;
    h3 {
        display: inline-block;
        color: var(--color-white-1);
        font-size: 3.5rem;
        margin-left: 1rem;
        padding: 1rem;
        border-bottom: 3px solid var(--color-tertiary);
    }
}

.genres {
    display: grid;
    align-content: start;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2rem;
    animation: show 1s;

    @include media("<sm") {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    @include media(">xxl") {
        grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
        gap: 1vw;
    }
}

@keyframes show {
    from {
        opacity: 0.4;
        transform: translateY(2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
