.artist {
    width: 100%;
    @include no-select;
    transform: translateZ(0);
    cursor: pointer;
    animation: fade-in 1s;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.picture {

    position: relative;
    border-radius: 100rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 0.2s;
    padding-top: 100%;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        &::after {
            border: 5px solid var(--color-tertiary);
        }
        img {
            transform: scale(1.1);
        }

        & + .description {
            .name,
            .fans {
                color: var(--color-tertiary);
                transform: scale(1.1);
            }
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100rem;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: transform 0.2s;
    }

    &::after {
        content: "";
        border-radius: 100rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        z-index: 10;
    }
}

.name {
    width: 98%;
    text-align: center;
    font-size: 1.6rem;
    color: var(--color-white-1);
    transition: all 0.2s;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: sscale(1);
    }
}
