.tracks {
    padding: 0 1.5rem;
    background-color: #181717bb;
    border-radius: 1rem;
    margin: 8rem auto;
    max-height: 30rem;
    overflow-y: scroll;
    width: 80%;

    @include media("<md") {
        width: 100%;
        max-height: 40rem;
        margin: 4rem auto;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(18, 23, 49);
        border-radius: 1rem;

        &:hover {
            background-color: rgb(7, 11, 31);
        }
    }

    &::-webkit-scrollbar-track {
        height: 200px;
        border-radius: 1rem;
    }

    &:hover &::-webkit-scrollbar-thumb {
        background-color: red;
    }
}

.track {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    cursor: pointer;
    transition: all 0.2s;

    &:not(:last-child) {
        border-bottom: 1px solid var(--color-grey-1);
    }

    .index {
        font-size: 1.4rem;
        width: 3.5rem;

        @include media("<md") {
            font-size: 1.6rem;
        }
    }
    .title {
        font-size: 1.4rem;
        font-weight: 700;
        margin-right: auto;

        @include media("<md") {
            font-size: 1.6rem;
        }
    }
    .duration {
        font-size: 1.4rem;
        margin: 0 2rem;
        font-weight: 700;

        @include media("<md") {
            font-size: 1.6rem;
        }
    }
}
