.songs {
    background-color: #18171781;
    padding: 0 2rem;
    border-radius: 10px;
    color: white;
    margin: auto;
    width: 90%;

    @include media("<md") {
        width: 100%;
    }
}

.song {
    display: grid;
    grid-auto-flow: dense;
    column-gap: 1.5rem;
    align-items: center;
    padding: 1rem 0.5rem;
    cursor: pointer;
    transition: all 0.2s;

    &:not(:last-child) {
        border-bottom: 1px solid white;
    }

    grid-template-columns:
        [index-start] 1rem [index-end cover-start] 5rem [cover-end title-start] minmax(min-content, 1fr)
        [title-end artist-start] minmax(10rem, 1fr) [artist-end album-start] minmax(min-content, 1fr)
        [album-end duration-start] 4rem [duration-end play-start] max-content[play-end];

    @include media("<md") {
        grid-template-columns:
            [cover-start]7rem[cover-end title-start duration-start]minmax(min-content, 1fr)
            [title-end duration-end play-start] 2rem [play-end];
        grid-template-rows: repeat(2, 1fr);
    }

    p {
        font-size: 1.4rem;
        font-weight: bold;

        @include media("<lg") {
            font-size: 1.6rem;
        }

        @include media("<md") {
            font-size: 1.8rem;
        }
    }
}

.index {
    grid-column: index-start / index-end;
    font-size: 1.5rem;
}
.cover {
    grid-column: cover-start / cover-end;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 5px;

    @include media("<md") {
        width: 6rem;
        height: 6rem;
        grid-row: 1 / 3;
    }
}
.title {
    grid-column: title-start / title-end;
}
.artist {
    grid-column: artist-start / artist-end;
    justify-self: center;
}
.album {
    grid-column: album-start / album-end;
}
.duration {
    grid-column: duration-start / duration-end;

    @include media("<md") {
        grid-row: 2 / 3;
    }
}
.play {
    grid-column: play-start / play-end;

    @include media("<md") {
        grid-row: 1 / 3;
    }
}

.button {
    align-self: center;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
}

.winking {
    animation: wink 2s infinite ease;
}

.rotating {
    animation: rotate 2s infinite cubic-bezier(0, 0, 1, 1);
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}

@keyframes wink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
