.navigation {
    height: 6.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgb(59, 59, 59);
    z-index: 50;
}
