:root {
  --color-primary: #9b2def;
  --color-secondary: #2d9bef;
  --color-tertiary: #2dceef;

  --color-white-1: #ffffff;

  --color-dark-1: #000000;
  --color-dark-2: #161a1a;

  --color-grey-1: #99999f;
  --color-grey-2: #3a3b3e;
}
