.home {
    padding: 10rem 6rem;
    min-height: 100vh;
    background-color: var(--color-dark-2);

    @include media("<md") {
        padding: 4rem 0;
    }
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
