.header {
    margin: 3rem;
    display: flex;

    @include media("<md") {
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;
    }
}

.cover_container {
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
    margin-right: 3rem;
    flex-shrink: 0;
    box-shadow: 0 1.5rem 4rem black;

    @include media("<md") {
        margin: 0;
    }

    .cover {
        border-radius: inherit;
        width: 100%;
        height: 100%;
    }

    .artist_picture {
        position: absolute;
        top: 95%;
        left: 95%;
        transform: translate(-50%, -50%);
        width: 6rem;
        height: 6rem;
        border-radius: 10rem;
        box-shadow: 0 1.5rem 4rem black;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.info {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    filter: invert(100%);

    @include media("<md") {
        margin-top: 1rem;
    }

    .year {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }
    .title {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .artist {
        font-size: 2.2rem;
    }
}
.duration {
    display: flex;
    align-items: flex-end;
    filter: invert(100%);
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: -0.5px;
    flex-shrink: 0;
    margin-left: 1rem;

    @include media("<md") {
        width: 100%;
        margin: 0;
        justify-content: flex-end;
    }
}
