.icon {
    position: relative;
    @include no-select;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        @include media(">md") {
            fill: var(--color-tertiary);
        }
    }

    &:active {
        fill: var(--color-tertiary);
    }
}

.invert {
    filter: invert(100%);
}
