.icon {
    @include no-select;
    transition: fill 0.2s;
    cursor: pointer;
}

.icon:hover {
    @include media(">md") {
        fill: var(--color-tertiary);
    }
}

.invert {
    filter: invert(100%);
}
