.navigation {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;

    & > img {
        width: 8rem;
        margin-right: 3rem;
    }
}

.navLink {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-grey-1);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 100rem;
    width: 100px;
    height: 25px;
    background-color: var(--color-dark-2);

    &:not(:last-child) {
        margin-right: 1rem;
    }
}

.navLinkActive {
    color: var(--color-tertiary);

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% + 5px);
        height: calc(100% + 5px);
        border-radius: inherit;
        background-image: linear-gradient(to right, var(--color-secondary), var(--color-primary));
        z-index: -1;
    }
}
