.header {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 4rem;

    @include media("<md") {
        flex-direction: column;
    }
}

.artist {
    margin-right: auto;
    margin-top: -2rem;

    @include media("<md") {
        margin: auto;
    }

    filter: invert(100%);

    h6 {
        font-size: 1.4rem;

        @include media("<md") {
            display: none;
        }
    }

    h3 {
        font-size: 3rem;
        margin-top: 2rem;

        @include media("<md") {
            margin: 1.5rem 0;
        }
    }
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 8rem;

    @include media("<md") {
        align-items: center;
        height: 6rem;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;

        & > * {
            margin-left: 1.5rem;

            @include media("<md") {
                margin: 0;
            }
        }
    }
}

.followers {
    font-size: 1.4rem;

    @include media("<md") {
        font-size: 1.8rem;
        margin-top: 1.5rem;
    }

    font-weight: bold;

    filter: invert(100%);

    span {
        text-transform: uppercase;
        margin-left: 0.5rem;
    }
}

.button {
    padding: 0.6rem 2.5rem;
}

.test {
    width: 17.5rem;
    height: 17.5rem;
    border-radius: 10rem;
    margin-right: 2rem;
    box-shadow: 0 1.5rem 4rem black;

    @include media("<md") {
        width: 20rem;
        height: 20rem;
        margin: auto;
    }
}
