.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 0;

    h3 {
        font-size: 1.8rem;
        color: white;
    }

    h4 {
        font-size: 1rem;
        font-size: 100;
        color: #7e7e7e;
    }
}
