.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
    z-index: 1;

    h1 {
        font-size: 4rem;
        animation: to-left 1.2s;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 3rem;
        animation: to-right 1.2s;
    }

    @include media("<md") {
        height: 30vh;

        h1 {
            font-size: 7vw;
        }
        h2 {
            font-size: 3rem;
        }
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        filter: blur(4px);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        background-image: url("../../../../assets/images/landing_header.jpg");
        animation: fade-out 1s;
    }
}

@keyframes to-left {
    from {
        transform: translateX(15rem);
        opacity: 0;
    }
    to {
        transform: translateX(0rem);
        opacity: 1;
    }
}

@keyframes to-right {
    from {
        transform: translateX(-15rem);
        opacity: 0;
    }
    to {
        transform: translateX(0rem);
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
