.slider {
    padding: 2rem 0;
    background-color: rgba(36, 38, 43, 0.4);
    border-radius: 1rem;
    margin-bottom: 4rem;
}

.slide {
    min-width: 17rem;
    width: 15vw;
}

.genre {
    min-width: 20rem;
    width: 17vw;
}
