.player {
    &-enter {
        &-active {
            opacity: 0;
            transition: all 0.5s;
        }

        &-done {
            flex-direction: column;
            height: 100%;
            transition: all 1s;
        }
    }

    &-exit {
        flex-direction: column;
        height: 100%;
        &-active {
            opacity: 0;
            transition: all 0.5s;
        }

        &-done {
            transition: opacity 1s;
        }
    }
}

.cover {
    &-enter {
        &-active {
            transform: translate3d(0, -10rem, 0);
            transition: transform 0s 0.4s;
        }

        &-done {
            width: 25rem;
            height: 25rem;
            transition: transform 1s;
        }
    }

    &-exit {
        width: 25rem;
        height: 25rem;
        &-active {
        }

        &-done {
        }
    }
}

.song {
    &-enter {
        &-active {
            :nth-child(1) {
                transform: translate3d(10rem, 0, 0);
            }
            :nth-child(2) {
                transform: translate3d(-10rem, 0, 0);
            }

            & > * {
                transition: transform 0s 0.4s;
            }
        }

        &-done {
            margin: 4rem 0 auto;
            align-items: center;
            & > * {
                transition: all 1s;
            }
        }
    }

    &-exit {
        margin: 4rem 0 auto;
        align-items: center;
        &-active {
        }

        &-done {
        }
    }
}

.icons {
    &-enter {
        li:nth-child(1) {
            display: none;
        }
        li:nth-child(5) {
            display: none;
        }
        &-active {
        }

        &-done {
            width: 20rem;
            height: auto;
            li:nth-child(1) {
                display: block;
            }
            li:nth-child(5) {
                display: block;
            }
        }
    }

    &-exit {
        width: 20rem;
        li:nth-child(1) {
            display: block;
        }
        li:nth-child(5) {
            display: block;
        }
        &-active {
        }

        &-done {
        }
    }
}
