.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    padding-top: 10rem;
    background-image: linear-gradient(
        to right bottom,
        var(--color-tertiary),
        var(--color-secondary),
        var(--color-primary)
    );
}

.redirect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 4rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.568);
}

.code {
    font-size: 16rem;
    letter-spacing: 1.5rem;
    margin-top: -2rem;
    font-family: sans-serif;
    color: var(--color-secondary);
}

.title {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--color-grey-2);
}

.text {
    font-size: 1.6rem;
    margin: 1.6rem auto;
    text-align: center;
    line-height: 1.8;
}

.button {
    position: relative;
    background-color: transparent;
    border: 3px solid var(--color-secondary);
    padding: 1rem 1.6rem;
    font-size: 1.6rem;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--color-secondary);
    border-radius: 10rem;
    cursor: pointer;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 0.3s;

    &:hover {
        color: var(--color-white-1);
        background-color: var(--color-secondary);
    }
}
