@import "./Constant/colors.scss";

@font-face {
  font-family: Varela;
  src: url(./assets/fonts//VarelaRound-Regular.ttf);
}

ul {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  @include no-select;
}

html {
  font-size: 62.5%;

  @include media("<xxl") {
    font-size: 68.75;
  }

  @include media("<lg") {
    font-size: 56.25%;
  }
  @include media("<md") {
    font-size: 50%;
  }
}

body {
  @include media("<md") {
    margin-bottom: 8rem;
  }
  font-family: Varela, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
