.genre {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    column-gap: 2rem;
    row-gap: 7rem;

    padding: 10rem;
    min-height: 100vh;
    background-color: var(--color-dark-2);

    h2 {
        grid-column: 1/-1;
        color: var(--color-white-1);
        font-size: 4rem;
        margin-bottom: 4rem;
    }

    figure {
        position: relative;
        border-radius: 10rem;
        overflow: hidden;
        box-shadow: 8px 10px 2rem black;

        img {
            display: block;
            width: 100%;
            cursor: pointer;
            transition: all 0.2s;
        }

        &:hover img {
            transform: scale(1.1);
            filter: blur(5px);
        }

        figcaption {
            width: 80%;
            position: absolute;
            left: 50%;
            top: -20%;
            color: var(--color-secondary);
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            transform: translate(-50%, -50%);
            transition: all 0.4s;
        }

        &:hover figcaption {
            top: 50%;
        }
    }
}
