.albums {
    background-color: #18171781;
    padding: 2rem;
    border-radius: 15px;
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-items: center;
    justify-content: center;
    margin: 3rem 0;

    @include media(">xxl") {
        grid-template-columns: repeat(6, 1fr);
    }

    @include media("<xxl") {
        grid-template-columns: repeat(5, 1fr);
    }

    @include media("<xl") {
        grid-template-columns: repeat(5, 1fr);
    }

    @include media("<lg") {
        grid-template-columns: repeat(4, 1fr);
    }

    @include media("<md") {
        grid-template-columns: repeat(3, 1fr);
    }

    @include media("<sm") {
        grid-template-columns: repeat(3, 1fr);
    }
}

.title {
    grid-column: 1 / -1;
    justify-self: start;
    color: white;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    border-bottom: 4px solid var(--color-tertiary);
}
