.albums {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-items: center;
    justify-content: center;
    margin: 5rem 0;

    @include media(">xxl") {
        grid-template-columns: repeat(7, 1fr);
    }

    @include media("<xxl") {
        grid-template-columns: repeat(6, 1fr);
    }

    @include media("<xl") {
        grid-template-columns: repeat(5, 1fr);
    }

    @include media("<lg") {
        grid-template-columns: repeat(4, 1fr);
    }

    @include media("<md") {
        grid-template-columns: repeat(4, 1fr);
    }

    @include media("<sm") {
        grid-template-columns: repeat(3, 1fr);
    }
}

.button {
    width: 12rem;
    height: 4rem;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    outline: none;
    margin: auto;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
}
